{{ define "new_book.html" }}
<!DOCTYPE html>
<html>
    <head>
        <title>添加书籍</title>
    </head>
    <body>
        <form action="/book/new" method="POST">
            <div>
                <label>
                    书名:
                    <input type="text" name="title">
                </label>
            </div>
            <div>
                <label>
                    价格:
                    <input type="number" name="price">
                </label>
            </div>

            <div>
                <input type="submit">
            </div>
        </form>
    </body>
</html>
{{ end }}