<!DOCTYPE html>
<html>
    <head>
        <title>登陆</title>
    </head>
    <body>
        <form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div>
                <label>
                    用户名:
                    <input type="text" name="username">
                </label>
            </div>

            <div>
                <label>
                    密码:
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <input type="submit" value="登陆">
                <p style="color: red;">{{ .err }}</p>
            </div>
            
        </form>
    </body>
</html>